<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <br>
    <h3>SELECCIONE UNA OPCION:</h3>
    <br>
    <ul>
        
        <li>
            <a href="/movies">PELICULAS</a>
        </li>
        <li>
          <a href="/genres">GENEROS</a>
        </li>
        <li>
        <a href="/actors">ACTORES</a>
       </li>

    </ul>
  </body>
</html>
